body {
    /*#3B653D,#306744,#428957,#4B6C56,#3B653D,#306744,#428957,#4B6C56*/
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    color: #FBF7F5;
    font-family: 'Pangolin', cursive;
}

#home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-heading {
    font-size: 6rem;
}

.button {
    font-size: 1.25rem;
    height: 5rem;
    width: 10rem;
    background-color: rgba(256, 256, 256, .2);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-family: inherit;
    transition: background-color 1s;
}

.button:hover {
    background-color: black;
}

.button-text {
    display: inline-block;
    width: 100px;
}

#max-value-select {
    height: 90vh;
    display: flex;
}

#max-value-label {
    font-size: 4rem;
}

#play {
    height: 90vh;
    display: flex;
}

#timer {
    font-size: 6rem;
}

#calculation {
    text-align: center;
    font-size: 4rem;
}

input {
    border: 1px solid white;
    background-color: transparent;
    font-size: 4rem;
    height: 5rem;
    width: 10rem;
    color: white;
    text-align: center;
}

#score-text {
    font-size: 4rem;
}

#game-over {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game-over-header {
    font-size: 6rem;
}

/**/

.hidden {
    display: none!important;
    transition: display 2s;
}
