body {
    /*#3B653D,#306744,#428957,#4B6C56,#3B653D,#306744,#428957,#4B6C56*/
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    color: #FBF7F5;
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
}

.button {
    font-size: 1.25rem;
    height: 5rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-family: inherit;
    transition: background-color 1s;
}

.button:hover {
    background-color: black;
}

.button-text {
    display: inline-block;
    width: 100px;
}

#max-value-select {
    height: 90vh;
    display: flex;
}

#play {
    height: 90vh;
    display: flex;
}

#calculation {
    text-align: center;
    font-size: 4rem;
}

input {
    border: 1px solid white;
    background-color: transparent;
    font-size: 4rem;
    height: 5rem;
    width: 10rem;
    color: white;
    text-align: center;
}

#score-text {
    font-size: 4rem;
}

.center {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 6rem;
}

#highscores {
    height: 90vh;
    display: flex;
}

label {
    font-size: 3rem;
}

#instructions-text {
    width: 45%;
}

/**/

.hidden {
    display: none!important;
    transition: display 2s;
}

/*Breakpoints*/

@media (max-width: 992px){
    body {
        font-size: 1.3rem;
    }

    input {
        font-size: 3rem;
    }
   
    .header {
        font-size: 5rem;
    }
   
    #instructions-text {
        width: 60%;
        border: 1px solid #FBF7F5;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.486);
    }
}

@media (max-width: 768px){
    #instructions-text {
        width: 70%;
    }
}


@media (max-width: 576px){
    body {
        font-size: 1.2rem;
    }

    .header {
        font-size: 3.3rem;
    }

    #instructions-text {
        width: 95%;
        margin: 10px;
        margin-bottom: 40px;
    }

    #buttons {
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-bottom: 30px;
    }
}